@font-face {
	font-family: playfair;
	src: url(PlayfairDisplay-Regular.ttf);
}


body {
    font-family: playfair, sans-serif;
    cursor: url('../cursors/pikachu.cur'), auto !important;	
}



.side_nav {
    height: 100%;
    position: fixed;
    width: 0;
    z-index: 11;
    top: 0;
    left: 0;
    background-color: #9B9CFE;
    /* background-image: url("../images/sidebar3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side_nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
    display: block;
    transform: 0.5s;
}

.logo {
    border-radius: 50%;
    height: 100px;
    margin: 50px 50px 10px 50px;
    border: 5px white solid;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
    -webkit-animation: float 6s ease-in-out infinite;
    animation: float 6s ease-in-out infinite;

}

@keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      -webkit-transform: translatey(0px);
              transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      -webkit-transform: translatey(-20px);
              transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      -webkit-transform: translatey(0px);
              transform: translatey(0px);
    }
}

.side_nav .item:hover {
    color: #ebb13d;
}

.side_nav .closebtn {
    position: absolute;
    top: 25px;
    left: 25px;
    padding: 0;
    margin: 0;
    font-size: 36px;
}

.side_nav .closebtn i:hover {
    color: black;
}

.openbtn {
    position: fixed;
    top: 25px;
    left: 25px;
    font-size: 36px;
    z-index: 10;
}

.openbtn:hover {
    color: white;
}

#main {
    position: relative;
    transition: margin-left .5s;
    min-height: 100vh;
}

  
@media screen and (max-height: 450px) {
    .side_nav {padding-top: 15px;}
    .side_nav a {font-size: 18px;}
}

.content-wrap {
    padding-bottom: 3.0rem;
}

.footer {
    position: absolute;
    bottom:0px;
    left: 0px;
    width:100%;
    height: 3rem;    
    text-align: center;
    background:lightskyblue;
    z-index:1;
    color: whitesmoke;
 }

 .hr-text {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: #9B9CFE;
	text-align: center;
	height: 1.5em;
	opacity: 0.5;
}


 .hr-text:before {
	content: '';
	background: linear-gradient(to right, transparent, #9B9CFE, transparent);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
}
.hr-text:after {
	content: attr(data-content);
	position: relative;
	display: inline-block;
	color: #9B9CFE;
	padding: 0 0.5em;
	line-height: 1.5em;
	color: #9B9CFE;
	background-color: #fcfcfa;
}