{% extends "base.html" %}
{% block stylesheet %} 
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='css/gallery.css') }}">
{% endblock %}

{% block content %} 

<div class="life" id="life">
    <div class="life-header">
        <span><p style="font-size:360%;">Life, a glimpse!!!</p>
        <p>Wake Up-> Cook -> Eat -> Work -> Play -> Eat -> Sleep -> Repeat </p></span>
    </div>

    <div class="gallery">
        <div class="options">
            {% for _image in images %}
            <!-- {% print(_image) %} -->
            <div class="option" style="--optionBackground:url({{ _image }});">
                <!-- <div class="numbertext">{{ loop.index }} / {{ images|length }}</div> -->
                <div class="shadow"></div>
                <div class="label">
                    <div class="icon">
                        <i class="fas fa-walking"></i>
                    </div>
                    <div class="info">
                        <div class="main">{{ _image }}</div>
                        <div class="sub">Omuke trughte a otufta</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
          <!-- Next and previous buttons -->
        <a class="prev" onclick="slide_image(-1)">&#10094;</a>
        <a class="next" onclick="slide_image(1)">&#10095;</a>
    </div>

    <hr class="hr-text" data-content="</>">

    <div class="gallery">
        <div class="options">
            {% for _image in images %}
            <!-- {% print(_image) %} -->
            <div class="option" style="--optionBackground:url({{ _image }});">
                <!-- <div class="numbertext">{{ loop.index }} / {{ images|length }}</div> -->
                <div class="shadow"></div>
                <div class="label">
                    <div class="icon">
                        <i class="fas fa-palette"></i>
                    </div>
                    <div class="info">
                        <div class="main">{{ _image }}</div>
                        <div class="sub">Omuke trughte a otufta</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
          <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <hr class="hr-text" data-content="</>">

    <!-- <div id="cp_widget_2b44a737-dbde-4631-8567-9b6d030aa914">...</div><script type="text/javascript">
        var cpo = []; cpo["_object"] ="cp_widget_2b44a737-dbde-4631-8567-9b6d030aa914"; cpo["_fid"] = "A0IAAp-emzRP";
        var _cpmp = _cpmp || []; _cpmp.push(cpo);
        (function() { var cp = document.createElement("script"); cp.type = "text/javascript";
        cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
        var c = document.getElementsByTagName("script")[0];
        c.parentNode.insertBefore(cp, c); })(); </script>
     
    </div>  -->



{% endblock %}

{% block jsscript %}
<script src="{{url_for('static', filename='js/gallery.js')}}"></script>

{% endblock %}

