{% extends "base.html" %}

{% block stylesheet %} 
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %} 
    <div class="parallax"></div>
    <div class="header">
        <div class="home-text">
            <p style="font-size:50px;">Hello! I'm Kanishk Varshney<span class="blinking-cursor">_</span></p>
            <p>Researcher | Gamer | Artist </p>
        </div>
        <img class="hi" src="{{ url_for('static', filename='images/avatar_hi.png') }}">

    </div>
    <div class="parallax"></div>
    <div class="content" id="about">
        <ul>
          <li>Hi! I am Kanishk!!! ... pfft totally not obsessed with the name :')</li>
          <li>I graduated from IIT-Kanpur in 2015 with Honors in Computer Science</li>
          <li>I grew up in Chandausi, Uttar Pradesh (haan, U.P. se hoon @*)</li>
          <li>I live in Bangalore now</li>
          <li>I read (comic books, manga, blogs, and ya sometimes books too) and play video games</li>
          <li>I cook and listen to awesome music ... trust me</li>
          <li>I draw ... go ahead take a <a href="https://www.instagram.com/varshney.kanishk/" target="_blank">look</a></li>
          <li>I work on pretty cool stuff ... deep learning stuff :)</li>
          <li>You wanna know more? Keep scrolling then ...</li>
        </ul>
    </div>
    <div class="parallax"></div>


{% endblock %}